<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dci.dev.ktimber"
    android:versionCode="1"
    android:versionName="1.0">
    
<!--    <application>-->
<!--        <provider-->
<!--            android:name="com.dci.dev"-->
<!--            android:authorities="${applicationId}.provider"-->
<!--            android:exported="false" />-->
<!--    </application>-->

</manifest>
